body{
margin: 0;
padding: 0;
background: black;
}

.grid-container{
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "sidebar header header header"
                         "sidebar main main main";
    height: 100vh;
}

.header{
    grid-area: header;
    height: 70px;
    background-color: rgb(76, 74, 74);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.32);
}

#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: rgb(76, 74, 74);
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
}

.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 30px;
}
.menu-icon{
    display: none;
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}
.sidebar-title > span{
    display: none;
}
.sidebar-brand{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list{
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}
.sidebar-list a{
    text-decoration: none;
    color: grey;
}

.sidebar-list-item{
    padding: 20px;
    
}
.sidebar-list-item span{
    font-size: 20px;
}
.sidebar-list-item:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;

}

#sidebar button{
    width: 120px;
    height: 40px;
    background-color: white;
    font-size: larger;
    border-radius: 20px;
    margin:  50px 0 0 45px;
}
#sidebar button:hover{
    background-color: black;
    color: wheat;
}

.main-title{
    display: flex;
    justify-content: space-between;
}

.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px 0;
    gap: 20px;
}
.main-cards a{
    text-decoration: none;
    filter: brightness(0.8);
}
.main-cards a:hover{
    filter: brightness(1.1);
}
.bottam-cards a{
    text-decoration: none;
    filter: brightness(0.8);

}
.bottam-cards a:hover{
    filter: brightness(1.1);
}

.card{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}

.card:first-child{
    background-color: lightcoral;
}
.card:nth-child(2){
    background-color: lawngreen;
}
.card:nth-child(3){
    background-color: aqua;
}
.card:nth-child(4){
    background-color: orangered;
}

.card-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-inner i{
    font-size: 35px;
}

.card:hover{
    cursor: pointer;
}

.bottam-cards{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin: 20px 0;
    gap: 20px;
}

.bottam-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px;
    border-radius: 7px;
    margin-top: 50px;
}


/* media queries  */

@media screen and (max-width: 992px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: "header"
                                "main";
    }
    #sidebar{
        display: none;
    }
    .menu-icon{
        display: inline;
    }
    .sidebar-title > span{
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    .main-cards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .bottam-cards{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}

@media screen and (max-width: 576px) {
    .header-left{
        display: none;
    }
}

/* users page */
.users{
    margin-right: 200px;
    margin-top: 80px;
}
.users table{
    
    width: 900px;

}
.users table tr th{
    padding: 15px;
}
table, th, td {
    border: 1px solid;
}
.users table tr th{
    background-color: rgb(74, 74, 74);
}

  .users table tr td{
    padding: 10px;
  }

  .users table tr:hover{
    background-color: rgb(76, 74, 74);
    cursor: pointer;
  }

  /*  services page */

   #servForm{
    z-index: 0;
    display: none;
    width: 400px;
    padding-left: -400px;
    overflow: hidden;
  }
  #servForm button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: green;
  }

  .servbtn{
    width: 100px;
    height: 40px;
    border-radius: 7px;
    float: right;
    margin-left: 250px;
  }

  .serv-table{
    margin-top: 100px;

  }
.serv-table table{
    width: 800px;

}
.serv-table tr th{
    padding: 15px;
}
.serv-table table, th, td {
    border: 1px solid;
}
.serv-table table tr th{
    background-color: rgb(74, 74, 74);
}

.serv-table table tr td{
    padding: 10px;
  }

  .serv-table table tr:hover{
    background-color: rgb(76, 74, 74);
    cursor: pointer;
  }

  /* enquiries form */

  .appointments {
    margin-top: 50px;
  }
  .appointments table tr th,td{
    padding: 2px;
}
  .appointments table tr th{
        background-color: rgb(74, 74, 74);
  }

  .appointments table tr {
    text-align: center;
  }

  .appointments table tr:hover{
    background-color: rgb(76, 74, 74);
    cursor: pointer;
  }


  /*  Projects Page  */

  #Pform{
 
    display: none;
    width: 70%;
    
  }
  #Pform button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: green;
  }

  .Pbtn{
    width: 100px;
    height: 40px;
    border-radius: 7px;
    float: right;
    margin-left: 250px;
  }
  .pro-table table tr th,td{
    padding: 7px;
}
  .pro-table table tr th{
    background-color: rgb(76, 74, 74);
    text-align: center;
  }
  .pro-table table tr:hover{
        background-color: rgb(76, 74, 74);
        cursor: pointer;
      
  }
  .enquiries table tr th,td{
        padding: 7px;
  }
  .enquiries table tr th{
    background-color: rgb(76, 74, 74);
  }
  .enquiries table tr:hover{
    background-color: rgb(76, 74, 74);

  }